/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font: inherit;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

ul,
ol {
  padding: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/*utilities*/

.flex {
  display: grid;
  align-content: center;
  gap: var(--spacing, 2rem);
}
.column {
  flex-direction: column;
}
.split {
  display: grid;
  grid-auto-flow: row;
  gap: var(--spacing, 1rem);
}

.flow > * + * {
  margin-top: var(--flow-spacing, 1.25rem);
}

.slide-from-left {
  transform: translateX(-4rem);
}

.slide-from-right {
  transform: translateX(4rem);
}

.slide-from-top {
  transform: translateY(-2rem);
}

.slide-from-buttom {
  transform: translateY(2rem);
}

.text-center {
  text-align: center;
}

.text-inverted {
  --clr-text: hsl(0, 0%, 100%);
  --clr-text-secondary: hsl(240, 8%, 87%);
}

.center-content {
  display: grid;
  place-items: center;
  align-content: center;
}

.ring {
  animation: ring 1s infinite;
}

@keyframes ring {
  0%,
  20% {
    transform: rotate(0deg);
  }
  10%,
  30% {
    transform: rotate(15deg);
  }
}

/* Custom CSS Variables*/
:root {
  --clr-primary: hsl(238, 31%, 34%);
  --clr-accent: hsl(238, 31%, 74%);

  --clr-bg: hsl(0, 0%, 91%);
  --clr-text: hsl(0, 0%, 5%);
  --clr-text-secondary: hsl(0, 0%, 15%);
  --clr-icon: hsl(0, 0%, 15%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(240, 8%, 87%);
  --clr-neutral-900: hsl(0, 0%, 5%);

  --ff-base: "Montserrat", serif;
  --ff-accent: "Fraunces", sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;

  --inline-padding: 1rem;
  --block-padding: 0;
}

#theme-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  position: absolute;
  right: 5.5rem;
  margin-block: 0;
}

.dark-theme {
  --clr-bg: hsl(240, 17%, 14%);
  --clr-text: hsl(0, 0%, 100%);
  --clr-text-secondary: hsl(240, 8%, 87%);
  --clr-icon: hsl(240, 8%, 87%);
  --clr-primary: hsl(238, 31%, 34%);
  --clr-accent: hsl(238, 31%, 74%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(240, 8%, 87%);
  --clr-neutral-900: hsl(0, 0%, 5%);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-bg);
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  color: var(--clr-text);

  --flow-spacing: 1rem;
}

section:not(.hero, .contact-us-section) {
  padding-inline: 1.5rem;
}
.website-header {
  padding: 1rem 0.25rem;
  border-bottom: 2.5px solid var(--clr-accent);
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav-items a:hover {
  color: var(--clr-primary);
}
.logo {
  font-family: var(--ff-accent);
  font-size: 1.1rem;
  font-weight: var(--fw-bold);
}

.button {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: var(--clr-primary);
  color: var(--clr-neutral-500);
  box-shadow: 0 2px 3px -2px hsl(0, 0%, 5%);
  cursor: pointer;
  text-align: center;
}

.button:hover {
  transform: scale(1.01);
}

.primary {
  color: var(--clr-neutral-100);
  border: 2px solid var(--clr-primary);
}

.secondary {
  background-color: transparent;
  border: 2px solid var(--clr-primary);
}

/*Hero*/

.hero {
  padding-bottom: 5.5rem;
}
.hero .content {
  padding-inline: 1.5rem;
}
.title {
  font-size: 2.15rem;
  font-weight: var(--fw-bold);
  margin-bottom: 1rem;
  color: var(--clr-text);
}

.title span {
  font-family: var(--ff-accent);
  background-color: var(--clr-primary);
  color: var(--clr-neutral-100);
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.sub-title {
  font-size: 1rem;
  color: var(--clr-text-secondary);
}

.cta-group {
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
  margin-top: 5rem;
  margin-left: 0;
}

/*Services section*/

/*section {
  display: grid;
  place-items: center;
  align-content: center;
}*/

.levels-card {
  padding: 1.5rem 3rem;
  background-color: var(--clr-primary);
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.level {
  display: grid;
  place-items: center;
}

.card-header {
  max-width: 11rem;
  padding-right: 1rem;
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  border-right: 2px solid var(--clr-neutral-100);
}

.level img {
  width: 7rem;
  border-radius: 50%;
  background-color: var(--clr-accent);
}

.check-list li {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.check-list li::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(assets/icons/check.svg);
}
/*About Us Section*/

.about-us-section {
  --flow-spacing: 3rem;
  font-family: var(--ff-base);
}

.about-us-section .content {
  place-items: center;
}

.school-description {
  max-width: 40rem;
  font-family: var(--ff-base);
  line-height: 1.6;
}

.gallery {
  --spacing: 1rem;
  margin-top: 3rem;
  justify-content: center;
}
.gallery img {
  width: 12rem;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  object-fit: cover;

  cursor: pointer;
}

.illustration {
  filter: drop-shadow(0.5px 0.5px 1px rgba(0, 0, 0, 0.3));
  width: 65%;
  margin: 0 auto;
}

/*Goals*/

.our-values-section {
  --flow-spacing: 3rem;
}

.goals li {
  --flow-spacing: 1.25rem;

  display: grid;
  place-content: start;
  grid-auto-flow: column;
  gap: 0.5rem;
  font-size: 0.9rem;
  position: relative;
}
.goals li::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(assets/icons/check.svg);
}

/*Features*/

.features-grid {
  --flow-spacing: 1.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-inline: 2rem;
  max-width: 50rem;
  gap: 2rem;
}

.main-card {
  display: none;
  grid-column: 1/3;
  background-color: var(--clr-primary);
  color: var(--clr-neutral-300);
  box-shadow: 0 2px 4px -2px hsl(0, 0%, 5%);
  border-radius: 0.75rem;
  padding: 1rem;
}
.main-card-title {
  font-size: 2rem;
  max-width: 17ch;
}
.main-card-title span {
  font-family: var(--ff-accent);
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary);
}
.feature {
  width: 100%;
  min-width: 0;
  min-height: 0;
  box-shadow: 0 1px 2px 0.5px rgba(0, 0, 0, 0.1);
  background-color: var(--clr-neutral-300);
  border-radius: 0.75rem;
  padding-inline: 2rem;
  padding-block: 2rem;

  display: grid;
  place-items: center;
  align-content: center;
  color: var(--clr-primary);
  font-size: 0.925rem;
  text-align: center;
}

.feature img {
  width: 4rem;
  height: 4rem;
}
/*Gallerie*/

.gallery-section {
  text-align: center;
}

.gallery-grid {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 50rem;
}

.gallery-grid img {
  width: 100%;
  min-width: 0;
  min-height: 0;
  aspect-ratio: 1.4/1;
  border-radius: 0.5rem;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 0 0 5px 0.1px rgb(0, 0, 0, 0.25);
}

.popup {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: -1rem;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  backdrop-filter: blur(2px);
}

.popup-image {
  max-width: 80%;
  max-height: 80%;
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-button {
  position: absolute;
  top: 30px;
  right: 60px;
  cursor: pointer;
  font-size: 2.5rem;

  color: var(--clr-neutral-300);
}
/*Contact us*/

.contact-us-section {
  background-color: var(--clr-primary);
  display: grid;
  place-content: center;

  text-align: center;
}

.contacts-grid {
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 3rem;
  padding-inline: 1rem;
}

.contact {
  --flow-spacing: 0.75rem;
  display: grid;
  place-items: center;
  align-content: center;
  color: var(--clr-text-secondary);
}

.contact img {
  width: 35px;
  height: 35px;
}

/*Footer*/

.website-footer {
  padding: 0.5rem 0.25rem;
  border-top: 2.5px solid var(--clr-accent);
  background-color: var(--clr-primary);
}

.website-footer .nav-items {
  --spacing: 0;
  color: var(--clr-neutral-300);
}
.contacts {
  margin-top: 1rem;
}

.footer-contact-card {
  padding: 1rem;
  border-top-left-radius: 1.3rem;
  border-bottom-right-radius: 1.3rem;
  background-color: var(--clr-neutral-300);
  font-size: 0.8rem;
}

/*Media queries*/

@media (max-width: 900px) {
  .nav-items {
    position: fixed;
    inset: 0 0 0 40%;
    background-color: var(--clr-accent);
    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    padding-top: 4rem;
    transform: translateX(100%);
    transition-duration: 0.8s;
  }
  nav {
    border: 1px red solid;
  }
  .nav-items[data-visible="true"] {
    transform: translateX(0);
  }

  .mobile-nav-toggle {
    display: block;
    width: 1.5rem;
    aspect-ratio: 1;
    padding: 0;
    border: 0;
    outline: none;
    background-color: transparent;
    position: absolute;
    right: 1rem;
    z-index: 9999;
    cursor: pointer;
    margin-block: 0;
  }

  .slide-from-left-right {
    transform: translateX(4rem);
  }
  .slide-from-right-left {
    transform: translateX(-4rem);
  }
  .slide-from-buttom-right {
    transform: translateX(4rem);
  }
}

section:not(.hero) {
  padding-block: 2.5rem;
}
@media (min-width: 900px) {
  section {
    height: 100vh;
    margin-block: 0;
  }
  nav {
    display: block;
  }

  .split {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .flex {
    flex-direction: row;
    align-items: end;
  }

  .cta-group {
    grid-auto-flow: column;
  }

  .hero {
    text-align: left;
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .hero-image {
    border-radius: 0.5rem;
    order: 1;
  }

  .illustration {
    width: 80%;
  }

  .our-values-section img {
    order: 1;
  }

  .main-card {
    display: grid;
    place-items: center;
  }

  .feature {
    padding-block: 1rem;
  }
  .features-grid {
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 0;
  }

  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding-right: 8rem;
  }
  .mobile-nav-toggle {
    display: none;
  }
  .slider-container {
    display: none;
  }

  .gallery-grid {
    display: grid;
  }
  .container {
    padding-inline: 4rem;
  }

  .contact-us-section {
    padding: 8rem;
  }

  section:not(.hero) {
    padding-block: 0rem;
  }

  .slide-from-left-right {
    transform: translateX(-6rem);
  }

  .slide-from-right-left {
    transform: translateX(4rem);
  }
  .slide-from-buttom-right {
    transform: translateY(2rem);
  }
}

/*iMAGE slider*/

.slider-container {
  width: 90%;
  position: relative;
}

.slider-container button {
  cursor: pointer;
  outline: none;
  border: 0;
  margin-inline: 1rem;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
}

.previous:hover img {
  transform: scale(1.02);
}

.next:hover img {
  transform: scale(1.02);
}

.slider-controll {
  list-style: none;

  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.slider-controll button {
  width: 2.5rem;
}

.slider img {
  max-width: 100%;
  aspect-ratio: 1.6/1;
  display: none;
  box-shadow: 10px 10px 20px 0 rgba(94, 47, 59, 0.2);
  object-fit: cover;
  border-radius: 0.5rem;
}

img.active {
  display: block;
  -webkit-animation: fadeImg 0.8s;
  animation: fadeImg 0.8s;
}

@-webkit-keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
}
.hidden {
  opacity: 0;
  filter: blur(1px);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0) translateY(0);
}
